@charset "utf-8";

@font-face {
  font-family: 'ntk';
  font-stretch:normal;
  font-style:normal;
  font-weight: 400;
  src: url(/hanbat-iucf-2017/font/notokr-regular.eot);
  src: url(/hanbat-iucf-2017/font/notokr-regular.eot?#iefix) format('embedded-opentype'),
       url(/hanbat-iucf-2017/font/notokr-regular.woff2) format('woff2'),
       url(/hanbat-iucf-2017/font/notokr-regular.woff) format('woff'),
       url(/hanbat-iucf-2017/font/notokr-regular.ttf) format('truetype');
}


@font-face {
  font-family: 'ntk';
  font-stretch:normal;
  font-style:normal;
  font-weight: 700;
  src: url(/hanbat-iucf-2017/font/notokr-bold.eot);
  src: url(/hanbat-iucf-2017/font/notokr-bold.eot?#iefix) format('embedded-opentype'),
       url(/hanbat-iucf-2017/font/notokr-bold.woff2) format('woff2'),
       url(/hanbat-iucf-2017/font/notokr-bold.woff) format('woff'),
       url(/hanbat-iucf-2017/font/notokr-bold.ttf) format('truetype');
}
 