/*
* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess
 */
@font-face{
  font-family:'dekar';
  font-weight:normal;
  font-style: normal;
  src:url("/kr/font/dekar-webfont.eot");
  src:url("/kr/font/dekar-webfont.eot?#iefix") format('embedded-opentype'),
    url("/kr/font/dekar-webfont.woff") format('woff');
}

@font-face{
  font-family:'dekar';
  font-weight:100;
  font-style: normal;
  src:url("/kr/font/dekar_light-webfont.eot");
  src:url("/kr/font/dekar_light-webfont.eot?#iefix") format('embedded-opentype'),
    url("/kr/font/dekar_light-webfont.woff") format('woff');
}
